@def colorPositive #0c0;
@def colorNegative #c00;

@sprite .body {
	gwt-image: "background";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ddd;
	overflow: auto !important;
}

@sprite .header {
	gwt-image: "pregnantWoman";
	background-position-y: 130px;
	margin: 10px auto -415px;
	text-align: center;
	height: 600px;
}

.header h1 {
	font-family: "Leckerly One";
	color: #dad;
	font-size: 3.25em;
	text-shadow: 0 1px 1px #333, 0 -1px 1px #fff;
	font-weight: 400;
	margin: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	cursor: default;
}

.header h1:hover {
	color: #c00;
}

.header p {
	margin: 10px;
	color: #333;
	font-size: 1.4em;
}

.namesContainer {
	margin: 250px auto 10px;
}

.nameCard {
	width: 490px !important;
	height: 61px !important;
	margin: 10px auto;
	padding: 32px 20px 0;
}

@sprite .nameCardBoy {
	gwt-image: "nameCardBoy";
}

@sprite .nameCardGirl {
	gwt-image: "nameCardGirl";
}

.vote {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	margin: 0 5px;
	cursor: pointer;
	outline: none;
	border: 0;
}

.vote:active {
	margin-top: 1px;
}

@sprite .voteUp {
	gwt-image: "voteUp";
}

@sprite .voteDown {
	gwt-image: "voteDown";
}

@sprite .voteUp:hover {
	gwt-image: "voteUpHover";
}

@sprite .voteDown:hover {
	gwt-image: "voteDownHover";
}

.name {
	margin-left: 10px;
	line-height: 25px;
	font-size: 42px;
	float: left;
}

.percent {
	line-height: 32px;
	font-size: 23px;
	font-weight: 800;
	float: right;
}

.percentPositive {
	color: colorPositive;
}

.percentNegative {
	color: colorNegative;
}

@sprite .inputContainer {
	gwt-image: "searchbox";
	width: 655px;
	height: 81px;
	margin: 50px auto;
	padding: 12px 0 0 14px;
}

.genderSelect {
	display: block;
	float: left;
	width: 67px;
	height: 67px;
	outline: none;
	border: 0;
	cursor: pointer;
}

@sprite .genderSelectBoy {
  gwt-image: "genderBoy";
}

@sprite .genderSelectGirl {
  gwt-image: "genderGirl";
}

@sprite .genderSelectBoyDown {
  gwt-image: "genderBoyDown";
}

@sprite .genderSelectGirlDown {
  gwt-image: "genderGirlDown";
}

.inputBox {
	display: block;
	background: #fff;
	float: left;
	border: 0;
	outline: none;
	width: 482px;
	height: 67px;
	padding: 0 10px;
	line-height: 67px;
	font-size: 42px;
	font-family: "Open Sans";
	margin: 0 0 0 5px;
}